*{
    margin: 0; 
    padding: 0;
}
body
{
    background: url("../img/backgroung.jpg");
    background-size: cover;
    background-position: center;
}
.header{
    height: 100vh;

}
.navbar-style{
    box-shadow: 0 5px 10px #efefef; 
    
    text-transform: uppercase;


}
.logo{
    height: 70;
    padding: 2px 10px;
 
}
.icon-bar{
    background: darkorange;
}
li a{
    color: #333;
}
.big-text{
    font-size: 52px;
    margin: 20px 0px;
    color: #fff;
}

a.btn{
    margin: 30px 10px;
    width: 250px;
    padding: 10px ;
    border-radius: 20px;
    

}
a.btn-first{
    background-color: darkorange;
    color: #efefef;
    

}
a.btn-second{
    background-color: darkorange;
    color: #efefef;
    
    
    color: #fff;
    

}
a.btn:hover{
    background:darkorange ;
    border: none;
    color: #efefef;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.banner-info, .banner-image
{
      margin: 30px 0;
}